<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script defer src="index/dist/index.bundle.js"></script><link href="index.css" rel="stylesheet"></head>
<body>

    <section class="desktop-menu container p-0">
    <nav class="navbar navbar-expand-sm  bg-primary p-0 m-0">
        <div class="container-fluid p-0">
          <!-- Links -->
          <ul class="navbar-nav p-0 my-font-raleway">
            <li class="nav-item  m-0 disabled ">
              <a class="nav-link  px-3 disabled py-3" href="#">Головна</a>
            </li>
            <li class="nav-item  link-primary m-0   ">
                <a class="nav-link link-primary px-3 py-3" href="./about.html">Про нас</a>
              </li>
            <li class="nav-item  link-primary m-0  ">
              <a class="nav-link link-primary px-3 py-3" href="#">Розклад богослужінь</a>
            </li>
            <li class="nav-item  link-primary m-0   ">
              <a class="nav-link link-primary px-3 py-3" href="#">Контакти</a>
            </li>
            <li class="nav-item  link-primary m-0  ">
                <a class="nav-link link-primary px-3 py-3" href="#">Фотогаерея</a>
              </li>
          </ul>
        </div>
      
      </nav>
      </section>
<!--*****-->
    <div class="container top-section-wrapper  text-center   p-1" >

             <div class="first-title-item  pt-2 my-font-comfortaa align-items-center d-flex   px-3 title-first-item">
                 <img class="p-0 m-0" src="./src/img-ornament.svg">
                 <div class="text-responsive_ h5 "> Українська Православна Церква</div>
                 <img class="p-0 m-0" src="./src/img-ornament.svg">
              </div>
             <div class="   my-font-lobster  h1 d-flex align-items-center justify-content-center" >
               Парафія Святої Великомучениці Варвари
              </div>
      </div>
    
    <section class="mobile-nav-menu  ">
      <nav class="container mobile-nav-menu navbar bg-primary">
        <div class="container-fluid">
          <ul class="navbar-nav my-font-raleway">
            <li class="nav-item m-0 disabled d-flex px-2 border-bottom border-success border-2">
              <img class="p-0 m-0" src="./src/img-ornamentInactive.svg">
              <a class="nav-link   disabled text-center " style="justify-content:center;" href="#">Головна</a>
              <img class="p-0 m-0" src="./src/img-ornamentInactive.svg">
            </li>
            <li class="nav-item link-primary m-0 d-flex px-2 border-bottom border-success border-2">
              <img class="p-0 m-0" src="./src/img-ornament.svg">
              <a class="nav-link link-primary text-center  " href="about.html">Про нас</a>
              <img class="p-0 m-0" src="./src/img-ornament.svg">           
             </li>
             <li class="nav-item link-primary m-0 d-flex px-2 border-bottom border-success border-2">
              <img class="p-0 m-0" src="./src/img-ornament.svg">
              <a class="nav-link link-primary text-center  " href="#">Розклад богослужінь</a>
              <img class="p-0 m-0" src="./src/img-ornament.svg">           
             </li>
             <li class="nav-item link-primary m-0 d-flex  px-2 rounded border-bottom border-success border-2">
              <img class="p-0 m-0" src="./src/img-ornament.svg">
              <a class="nav-link link-primary text-center  " href="#">Фотогалерея</a>
              <img class="p-0 m-0" src="./src/img-ornament.svg">           
             </li>
          </ul>
        </div>
      </nav>
      </section>
          <div class="container p-0">
             
         <img class="container p-0 mobile-nav-menu" srcset="rsp-StBarbara320.jpg 320w,
             rsp-StBarbara600.jpg 600w,
             rsp-StBarbara768.jpg 800w"
     sizes="(max-width: 320px) 320px,
            (max-width: 640px) 600px,
            800px"
     src="rsp-StBarbara768.jpg" alt="">
          </div>

       
</body>
</html>